{% block _component_options_label %}
    <label class="col-form-label required">{{ 'Options'|trans }}</label>
{% endblock %}
{% block _component_options_widget %}
    <div class="component_options mt-2"
         data-prototype="{% with %}{% set form = form.vars.prototype %}{{ block('_component_options_entry_row')|e('html_attr') }}{% endwith %}"
         data-index="{{ form|length > 0 ? form|last.vars.name + 1 : 0 }}">
        {% for child in form.children %}
            {{ form_row(child) }}
        {% endfor %}
    </div>
    <div class="field-collection-item mb-2">
        <button type="button" class="btn btn-my-green add_item_link" data-collection-holder-class="component_options">
            + {{ 'Add an option'|trans }}
        </button>
    </div>
{% endblock %}
{% block _component_options_entry_row %}
    <div class="mb-2 option">
        <div id="{{ form.vars.id }}">
            <div class="input-group form-row">
                <span class="input-group-prepend input-group-text bg-danger text-light d-flex justify-content-center"
                      style="height: auto; cursor: pointer;"
                      onclick="this.closest('.option').remove(); return false;">
                &times;
            </span>
                {{ form_widget(form.name, {'attr':{'class':'col-7', 'style': 'width: 30%;'}}) }}
                {{ form_widget(form.price, {'attr':{'class':'col-4', 'style': 'width: 50px;', 'step': '0.01'}}) }}
                <span class="input-group-append input-group-text col-1 justify-content-center"
                      style="height: auto;">{{ 'EUR'|currency_symbol }}    </span>
            </div>
        </div>
    </div>
{% endblock %}